* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-size: .14rem;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

header {
  height: .5rem;
  border-bottom: 1px solid #ccc;
  line-height: .5rem;
  padding: 0 .1rem;
}

header > span {
  margin-left: .1rem;
}

section {
  flex: 1;
  overflow-y: auto;
}

.list {
  width: 100%;
  height: auto;
}

.citys {
  width: 100%;
  height: auto;
  padding: 0 .1rem;
}

.citys h2 {
  line-height: 3;
}

.citys ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.citys ul li {
  margin-top: .15rem;
  padding: .03rem .15rem;
  margin-right: .25rem;
}

.box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.box h2 {
  padding-left: .2rem;
  width: 100%;
  line-height: 3;
}

.box li {
  margin-top: .15rem;
  padding: .03rem .15rem;
  margin-right: .25rem;
}

.on {
  border: 1px solid orange;
}
